@charset "UTF-8";

html, body{
	height:100%;
	margin: 1;
	padding:0;
}

.bg-robocup{
	background-image: linear-gradient(to bottom, rgb(1, 0, 0), rgba(0, 0, 0, .5)), url(https://www.fiap.com.br/wp-content/themes/fiap2016/images/next/finals/fotos/robocup.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    width: 100vw; 
    height: 100vh; 
}

.crime{
	position:absolute;
   	top: 5%;
}

.bg-fiap-grey{
	background-color: #1F1F1F;
}

.position-loja {
    position: absolute;
    top: 9%;
    right: 5%;
}

.img-loja{
	width:200px;
	height:200px;
	object-fit:fill;
}

.link-conta{
	text-decoration:none;
}

.title-cup{
	color: #ED145B;
}

.fiap-border{
	border-width: 0.5px;
	border-style: solid;
	border-color: #ED145B;
}

.form-usuario{
  	border-width: 3px;
	border-style: solid;
	border-color: #ED145B;
	border-radius: 10px;
}

.btn-style{
	background-color: #ED145B;
}

.img-robos{
	width:200px;
	height:200px;
	object-fit:fill;
}

.button-aposta{
	background-color:#ED145B;
	color:#FFF;
	font-size:18px;
	border-radius:10px;
}

.container-fluid {
    padding: 0;
}

.bg-hero-img {
    height: 100vh;
    background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, .5)), url(https://www.fiap.com.br/wp-content/themes/fiap2016/images/next/finals/fotos/robocup.jpg);
    background-repeat: no-repeat;
    object-fit: fill;
    background-size: cover;
    
}

.container-home-page {
    color: var(--color-white);
    width: 100%;
    height: 100vh;
    padding: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.header-page {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: absolute;
    color: transparent;
}

.footer {
    width: 100%;
    height: 20%;
    background-color: rgb(50, 50, 50);
}

.link-nomes {
    color: #ffffff;
    text-decoration: none;
}

.git-icon{
	background-color: #FFF;
	border-radius: 100px;
	width: 32px;
	height: 32px;
}